@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper
{
    width: 100%;
    min-height: 250px;
    height: 100vh;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'lato', sans-serif;
}
.login__section--container
{
    @media(max-width: 500px)
    {
        flex-basis: 90%;
    }
    min-width: 200px;
    max-width: 500px;
    height: calc(60px + 160px + 40px);
    border-radius: 15px;
    box-shadow: #222222 0px 1px 5px 2px;
    background-color: white;
}
.input__data--login
{
    flex-basis: 100%;
    height: calc(100% - 60px);
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &-box
    {
        height: calc(120px + 40px);
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 15px 15px 0px 0px;
    }
}
.username, .password
{
    flex-basis: 90%;
    height: 60px;
    outline: 0;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #222222;
    padding:  0px 10px 0px 10px;
}
.username:focus, .password:focus
{
    border: 2px solid aquamarine;
}
.choose__section--container
{
    flex-basis: 100%;
    height: 60px;
    border-radius: 0px 0px 15px 15px;
    display: flex;
}
.login--btn, .register--btn
{
flex-basis: 50%;
height: 100%;
outline: 0;
border: 0;
background-color: transparent;
cursor: pointer;
font-weight: bold;
font-size: 16px;
background-color: transparent;
}
.login--btn
{
    border-radius: 0px 0px 0px 15px;
    transition: all .3s ease-in-out;
}
.login--btn:hover
{
    background-color: #222222;
    color: white;
}
.register--btn
{
    border-radius: 0px 0px 15px 0px;
    transition: all .3s ease-in-out;
    a
    {
        text-decoration: none;
        color: black;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 0px 0px 15px 0px;
        transition: all .3s ease-in-out;
    }
    a:hover
    {
        background-color: #222222;
        color: white;
    }
}
.register--btn:hover
{
    background-color: #222222;
    color: white;
}